*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    font-family: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;

}
body{
    display: flex;

}
header{
    border: 1px solid grey;
    height: 100vh;
}
nav h1{
    font-size:24px;
    font-weight:500;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
nav ul{
    list-style: none;
}
nav ul li{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: black;
}
nav ul li:hover{
    background:#ccc;
    transition:0.3s ease-in-out;
}

/* main section styling   */
main{
    padding: 50px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;

}
section article{
    font-size: 14px;
    display:flex;
    flex-direction: column;
    gap: 20px;
}
section h2{
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    font-weight: 400px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
section article ul  {
    margin-left: 20px;
}
section article ul li { 
    margin-bottom: 10px;
}
@media(max-width:650px){
    body {
        flex-direction: column;
    }
    header  {
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
}